@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
   --left-color: #00aeffb0;
   --left-title-color: #ffffff;
   --highlight: rgba(255, 255, 255, .5);
   --left-bg-color: #202020;
   --change-theme-button: #ffffff;
   --left-text-color: #ffffff;
   --left-line:  #00aeffb0;
   
   --right-bg-color: #ffffff;
   --title-color: #0b0a0a;
   --text-color: #403a3a;
   --main-color-alt: #fafafa;
   --right-color: #202020;
   
   --main-color: #707070;
   --blue-color: #00aeffb0;
   --body-bg-image: url('https://img.freepik.com/free-photo/white-paper-texture_1194-5416.jpg?t=st=1728432635~exp=1728436235~hmac=87a994837c61569cd8c63cb24fa2d473fbb07e724817a2ad595dd66b9c773ad3&w=996');
}

*{margin: 0; padding: 0; box-sizing: border-box;}

body.dark-theme{
   --left-bg-color: #ffffff;
   --left-title-color: #0b0a0a;
   --left-color: #00aeffb0;
   --highlight: rgba(255, 255, 255, .5);
   --left-text-color: #0b0a0a;
   --change-theme-button: #00aeffb0;
   --left-line:  rgba(128, 128, 128, 0.443);
   
   --right-bg-color: #ffffff;
   --title-color: #0b0a0a;
   --right-color: #202020;
   --text-color: #403a3a;
   
   --container-color-alt: #fafafa;
   --container-color: #707070;
   --blue-color: #00aeffb0;
   --body-bg-image:  url('https://img.freepik.com/free-photo/black-felt-texture_125540-1548.jpg');
}
body{
   min-height: 100vh;
   font-family: "roboto";
   font-optical-sizing: auto;
   word-break:keep-all;
   background: var(--body-bg-image);
   background-attachment: fixed;
   color: var(--bg-color);
}

.navbar-dark .navbar-nav .nav-link{color: var(--blue-color);}

.navbar-expand-lg .navbar-nav{align-items: center;}

.navbar-expand-lg .navbar-nav .dropdown-menu{right: 0; left: unset;}

ul{padding: 0; margin-bottom: 0;}

.flag{width: 1.7rem; margin-right: 10px;}

.change-theme, .print2pdf{
   color: var(--blue-color);
   cursor: pointer;
   transition: .5s;
   margin-right: 20px;
   transition: .2s;
}
@media (max-width: 992px) {
   .change-theme, .print2pdf{margin-right: 0}
}
.change-theme:hover, .print2pdf:hover{color: var(--main-color-alt); transition: .2s;}

.change-theme span, .print2pdf span{margin-left: 3px}

.nav{justify-content: center; position: absolute; top: 0; left: 0;}

.navbar-expand-lg .navbar-collapse{justify-content: right;  margin-top: 1rem;}

.navbar-expand-lg .navbar-nav{align-items: end;}

.nav-link{padding: 0}

.navbar-brand{margin-right: 5rem;}

.main-menu{flex-direction: row; justify-content: left;}

.main-menu li{
   text-decoration: none;
   color: var(--main-color-alt);
   cursor: pointer;
   transition: .5s;
   margin-right: 20px;
   transition: .2s;
}
.main-menu a{
   text-decoration: none;
   font-size: 1.2rem;
   color: var(--main-color-alt);
   margin-left: 3px;
}
.main-menu a:hover{
   color: var(--blue-color);
}
.secondary-menu{
   display: flex;
   justify-content: right;
}
.secondary-menu li{
   margin-bottom: 10px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   justify-content: right;
   align-items: end;
}
.main{
   position: relative ;
   height:297mm;
   width:210mm;
   background: rgba(255, 255, 255, 1);
   display: grid;
   grid-template-columns: 300px 1fr;
   box-shadow: 0 0 5px 5px #20202059;
   margin: 20px auto;
}
.main .left{
   position: relative; 
   background: var(--left-bg-color); 
   padding: 15px;
}

.contact-info a{color: var(--left-text-color); text-decoration: none;}
.contact-info a:hover{color: var(--left-color); text-decoration: none;}
.contact-info.education li{color: var(--left-color); font-weight: 500;}
.contact-info.education h5{font-size: .8rem;}
.contact-info.education h4{color: var(--left-text-color); font-size: 16px; font-weight: 300;}
.contact-info.education h4:nth-child(2){color: var(--left-text-color); font-weight: 500;}

.main .right{
   position: relative;
   background: var(--right-bg-color);
   padding: 20px;
}
.profil-text{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10px;
   border-bottom: 1px solid var(--left-line);
}
.profil-text .image-box{
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
}
.profil-text .image-box img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.profil-text h2{
   color: var(--left-text-color);
   font-size: 1.5em;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   line-height: 1.4em;
}
.profil-text h2 span{
   font-size: .8em;
   font-weight: 300;
}
.contact-info{
   padding-top: 20px;
}
.title{
   color: var(--left-title-color);
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.3rem;
}
.contact-info ul{
   position: relative;
}
.contact-info ul li{
   position: relative;
   list-style: none;
   padding-top: 5px;
}
.contact-info ul li .icon{
   display: inline-block;
   width: 20px;
   font-size: 18px;
   color: var(--left-color);
   text-align: center;
}
.contact-info ul li span{
   color: var(--left-text-color);
   font-weight: 300;
   margin-right: 7px;
 }
.contact-info.languages .level{
   position: relative;
   width: 100%;
   height: 6px;
   background: var(--highlight);
   display: block;
   margin-top: 5px;
}
.contact-info.languages .level div{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: var(--left-color);
}
.skill{
   display: inline-block;
   font-size: 12px;
   background-color: var(--left-color);
   color: #201E1F;
   padding: 5px 8px;
   border-radius: 20px;
   margin: 1px;
}

.right .about{margin: 0 0 10px 0;}
.right .about:last-child{margin-bottom: 0;}
.right .title2{
   text-transform: uppercase;
   color: var(--right-color);
   letter-spacing: 1px;
   font-weight: 600;
   font-size: 1.3rem;
}
.right .about .box{
   display: flex;
   flex-direction: column;
   margin: 0;
}
.right .about .box .year{min-width: 150px;}
.right .about .year{
   text-transform: uppercase;
   color: var(--right-color);
   font-weight: 600;
}
.right .about .year h5:first-child{
   color: var(--blue-color);
   font-size: 16px;
   border-bottom: 1px solid var(--right-color);
   margin-bottom: 10px;
   font-style: italic;
}
.right .about .box .text h4{
   text-transform: uppercase;
   text-align: left;
   color: var(--right-color);
   font-size: 16px;
   /* border-bottom: 1px solid var(--right-color); */
   margin-bottom: 10px;
}
.right p{
   text-align: justify;
}
.right li{
   margin-left: 1.2rem;
}
.right .skills .box h4{
   text-transform: uppercase;
   color: #848c99;
   font-weight: 500;
}
.right .box .level{
   position: relative;
   width: 100%;
   height: 10px;
   background: #f0f0f0;
}
.right .box .level div{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: var(--right-color);
}
/* 
@media (max-width: 1000px){
   .container{margin: 10px; grid-template-columns: repeat(1, 1fr);}
	.container .left-main{display: flex; justify-content: space-between;}
} */