<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New user</title>
   <style>body{font-family: arial; background-color: rgba(0, 0, 0, .8); color: rgba(255, 255, 255, .7);}</style>
</head>
<body>
   <form method="POST">
      {% csrf_token %}

      <label for="name">Név: </label>
      <input id="name" name="name" type="text">
      <label for="email">Email: </label>
      <input id="email" name="email" type="text">
      <br/><br/>
      <input type="submit" value="Save user">
   </form>

   <div>Összesen: {{ count }}</div>
   <ul>
      {% for user in users %}
         <li>{{ user.name }}</li>
      {% endfor %}
   </ul>
</body>
</html>